.dashboard-page {
  display: flex;

  flex-direction: column;

  gap: 20px;

  width: 100%;
}

/* ==========================
TABLET
========================== */

@media (max-width: 768px) {
  .dashboard-page {
    gap: 16px;
  }
}

/* ==========================
MOBILE
========================== */

@media (max-width: 480px) {
  .dashboard-page {
    gap: 14px;
  }
}